#!/usr/bin/make -f

PACKAGE := guideos-stop-tool

%:
	dh $@

override_dh_install:
	# Erstellen der notwendigen Verzeichnisse
	mkdir -p debian/$(PACKAGE)/usr/bin
	mkdir -p debian/$(PACKAGE)/usr/share/icons/hicolor/256x256
	mkdir -p debian/$(PACKAGE)/usr/share/icons/hicolor/scalable/apps
	mkdir -p debian/$(PACKAGE)/usr/share/doc/$(PACKAGE)

	# Kopieren der Dateien
	cp LICENSE debian/$(PACKAGE)/usr/share/doc/$(PACKAGE)/LICENSE
	cp guideos-stop-tool debian/$(PACKAGE)/usr/bin/
	cp guideos-stop-tool.png debian/$(PACKAGE)/usr/share/icons/hicolor/256x256/
	cp guideos-stop-tool.svg debian/$(PACKAGE)/usr/share/icons/hicolor/scalable/apps/

	# Erstellen der .desktop-Datei
	./create_desktop_files.sh

	# Setzen der Berechtigungen
	chmod +x debian/$(PACKAGE)/usr/bin/guideos-stop-tool


	dh_install